mixin room(options)
    - let {url1, url2, url3, url4, room_num, room_type, room_price, feedback_value} = options
    .room
        .room-slider
            .room-slider__controls
                button.room-slider__prev-button(type="button") expand_more
                button.room-slider__next-button(type="button") expand_more
            .room-slider__slides
                img.room-slider__img(src=url1, alt="")
                img.room-slider__img(src=url2, alt="")
                img.room-slider__img(src=url3, alt="")
                img.room-slider__img(src=url4, alt="")
        .room-info
            .room__specc
                    h2 № #{room_num}
                    span #{room_type}
                    p <b>#{room_price}</b> в сутки
            .room__rating
                +rate("room-rating")
                if feedback_value=== '1'
                    p <b>#{feedback_value}</b> Отзыв
                else if feedback_value=== '2'
                    p <b>#{feedback_value}</b> Отзыва
                else if feedback_value=== '3'
                    p <b>#{feedback_value}</b> Отзыва
                else if feedback_value=== '4'
                    p <b>#{feedback_value}</b> Отзыва
                else
                    p <b>#{feedback_value}</b> Отзывов