mixin rate(options)
    -let {name, isCheckedOneStar, isCheckedTwoStars, isCheckedThreeStars, isCheckedFourStars, isCheckedFiveStars} = options
    fieldset.rating
        legend
        .rating__group
            input(class="rating__star" type="radio" name=name aria-label="Ужасно" value ="1" checked=isCheckedOneStar)
            input(class="rating__star" type="radio" name=name aria-label="Сносно" value ="2" checked=isCheckedTwoStars)
            input(class="rating__star" type="radio" name=name aria-label="Нормально" value ="3" checked=isCheckedThreeStars)
            input(class="rating__star" type="radio" name=name aria-label="Хорошо" value ="4" checked=isCheckedFourStars)
            input(class="rating__star" type="radio" name=name aria-label="Отлично" value ="5" checked=isCheckedFiveStars)
