mixin button(type, href, value)
    .button__group
        if type== 'filled'
            a(href=href class!="filled__button")= value               
        if type== 'unfilled'
            a(href=href class!="unfilled__button")= value
        if type== 'unbordered-purple'
            a(href=href class!="unbordered__button-purple")= value
        if type== 'unbordered-gray'
            a(href=href class!="unbordered__button-gray")= value
        if type== 'large'
            a(href=href class!="large__button")= value 