mixin button(condition, btnType, value, href)
    .button__group
        if condition== 'filled'
            button(type=btnType class="filled__button")= value               
        if condition== 'unfilled' 
            button(type=btnType class="unfilled__button")= value
        if condition== 'unbordered-purple'
            button(type=btnType class="unbordered__button-purple")= value
        if condition== 'unbordered-gray'
            button(type=btnType class="unbordered__button-gray")= value
        if condition== 'large'
            button(type=btnType class="large__button")= value 