mixin radio-button(name,id,radio_description,checked)
    .radio-button
        if checked===true
            input(class="radio-button__input" name=name type="radio" id=id checked)
            label(class="radio-button__label" for=id) #{radio_description}
        else
            input(class="radio-button__input" name=name type="radio" id=id)
            label(class="radio-button__label" for=id) #{radio_description}