mixin booking(options)
    -let {roomNumber, roomType, roomPrice} = options
    -let numSum = numNights
    .booking
        .booking__spec
            h2 #{roomNumber}
                span №&nbsp;
            h3 #{roomType}
            p <b>#{roomPrice}₽</b> 
                span в сутки
        .booking__info 
            .booking__date-picker
                +date-dropdown('прибытие', 'ДД.ММ.ГГГГ', 'выезд', 'ДД.ММ.ГГГГ')
            .booking__guest-dropdown
                +guest-dropdown('гости', '', '3 гостя')
            .booking__price-calculate
                ul
                    li 
                        p(id="roomPrice") #{roomPrice}
                        p ₽ x&nbsp;
                        p(id="sut") кол-во
                        p &nbsp;суток
                        p.booking__price-calculate_calculated #{numSum}
                    li
                    li
            .booking__price-total
                h2 Итого 
                div.booking__border
                h2.booking__price-total_value 38&nbsp;081₽
        .booking__button
            +button('large', '#!' ,'перейти к оплате')

script
    include booking.js