mixin feedback(src, alt, userName, fbDate, feedback)
    .feedback
        .feedback__header
            img(src=src, alt=alt).feedback__img
            .feedback__user-info
                h3 #{userName}
                p #{fbDate}
        .feedback__main
            .feedback__like-button
                +like-button('fblb1', '2', isChecked=true)
            .feedback__content 
                p #{feedback}