mixin type__h1(tag, description)
  tr
    td
      h1.tag_name= tag
    td
      h1.tag_description= description

mixin type__h2(tag, description)
  tr
    td
      h2.tag_name= tag
    td
      h2.tag_description= description

mixin type__h3(tag, description)
  tr
    td
      h3.tag_name= tag
    td
      h3.tag_description= description


mixin type__body(tag, description)
  tr
    td
      p.tag_name= tag
    td
      p.tag_description= description
