mixin checkbox-button(options)
    -let {id, checkbox_title, checkbox_description, items, isRich, isChecked} = options
        if isRich
            input(class="checkbox-button__input" type="checkbox" id=id)
            .rich-checkbox-button__text
                label(class="rich-checkbox-button__label" for=id)= checkbox_title
                p.rich-checkbox-button__description!= checkbox_description
        else
            input(class="checkbox-button__input" type="checkbox" id=id checked=isChecked)
            label(class="checkbox-button__label" for=id)= checkbox_description


mixin checkbox-list(options)
    -let {expandable, items} = options
        if expandable
            ul(id="checkbox-list__items" style="display:none" class="checkbox__items")
                each item in items
                    li.checkbox-button__item
                        +checkbox-button(item)
        else
            ul.checkbox__items
                each item in items
                    li.checkbox-button__item
                        +checkbox-button(item)