mixin text-field(title, description, id, placeholder, condition)
    .text-field
        span.text-field__description #{description}
        label(for=id class="text-field__label") #{title}
        if condition==='focused'
            input(class="text-field__input text-field__input_focused" type='text' id=id placeholder=placeholder)
        else if condition==='masked'
            input(class="text-field__input text-field__input_masked" type='text' id=id placeholder=placeholder)
        else
            input(class="text-field__input" type='text' id=id placeholder=placeholder)