mixin text-field(title, description, name, placeholder, condition)
    .text-field-header
        h3.text-field-header_title= title
        h3.text-field-header_description= description
    .text-field
        if condition==='focused'
            input(class="text-field__input text-field__input_focused" type='text' name=name placeholder=placeholder)
        else if condition==='masked'
            input(class="text-field__input text-field__input_masked" type='text' name=name placeholder=placeholder)
        else
            input(class="text-field__input" type='text' name=name placeholder=placeholder)